<h1>My Profile</h1>

<%= render 'user_name', :user => @user %>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Miles Earned So Far:</b>
  <%= @user.miles.to_i %>
</p>

<% @user.reservations.limit(100).each do |reservation| %>
  <%= render 'reservations/reservation', :reservation => reservation %>
<% end %>

