<div class="reservation">
  <p><%= reservation.travels_on %></p>
  <div class="flight_info">
    <h3>Flight #<%= reservation.flight.number %></h2>
    <h3>From: <%= reservation.flight.departure_airport_code %></h3>
    <h3>To: <%= reservation.flight.arrival_airport_code %></h3>
  </p>
</div>
